<div class="center jumbotron">
  <h1>Welcome to Nishant Sreedharan's Blog</h1>

 <% if user_signed_in? %>
  <%= link_to "See Recent Posts", "/posts", class: "btn btn-lg btn-primary" %>
 <%else%>
  <%= link_to "Signup", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  <% end %>
  
</div>
