<h1><br><font color="black">Listing posts</font></h1>

<table style="width: 960px; height: 81px;" border="0" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
	  <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
		<td><%= post.user_id %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
