<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "HOME", '/', id: "logo" %>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<% if user_signed_in? %>
				<b>Logged in as <%= current_user.email %></b>.
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
				<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
